---

import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout >
    <a class=""
        href="/Motos/Deportivas/R15-V4">
         
        <div
            class="h-[800px] w-auto bg-[url('https://www.yamotos.com.co/assets/img/banner%20r15v4%20GRANDE.png')] bg-center  bg-[length:100%_100%]"
        >
        </div>
    </a>

    <div class="h-14 flex justify-center items-center">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-9 text-[#ED1744]"
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m9 12.75 3 3m0 0 3-3m-3 3v-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
            ></path>
        </svg>
    </div>

    <div
        class="text-2xl h-[655px] w-[1355px] mx-auto space-x-28 flex items-center justify-center"
    >
        <div>
            <img
                class="h-[505px] w-[400px]"
                src="https://www.yamotos.com.co/assets/img/estudios-de-credito.png"
                alt=""
            />
        </div>

        <div class="">
            <h2 class="text-[#212529] font-bold text-[32px] py-2">
                ¿NECESITAS UN CREDITO?
            </h2>
            <h5 class="text-[#069FEC] font-bold text-[21.5px]">
                FÁCIL Y RÁPIDO
            </h5>
            <h6 class="text-[#6C757D] text-[20px]">
                Preséntate con tu cédula en alguna de nuestras sedes
            </h6>
            <h6 class="text-[#6C757D] text-[20px]">
                y en tan solo minutos obtendrás la cotización de tu
            </h6>
            <h6 class="text-[#6C757D] text-[20px]">
                moto soñada¡Contáctanos!
            </h6>

            <div class="py-3">
                <a
                    href="#"
                    class="text-[16px] hover:cursor-pointer text-base items-center rounded-3xl py-2 px-4 text-white inline-flex bg-[#ED1744] hover:bg-white border-[1px] hover:border-[#ED1744] hover:text-[#ED1744] duration-500"
                >
                    QUIERO UN ASESOR
                </a>
                <a
                    href="/SimularCredito"
                    class="text-[16px] hover:cursor-pointer text-base items-center rounded-3xl py-2 px-4 text-white inline-flex bg-[#ED1744] hover:bg-white border-[1px] hover:border-[#ED1744] hover:text-[#ED1744] duration-500"
                >
                    SIMULAR CREDITO
                </a>
            </div>
        </div>
    </div>

    <!-- <div

    </div> -->


    <div class="relative flex items-center justify-center h-[535px] bg-cover bg-center bg-[url('https://lamoto.com.ar/wp-content/uploads/2022/07/Repuestos-de-motos-1.jpg')]">
        <!-- Superposición con degradado lineal centrado -->
        <div class="absolute inset-0 bg-gradient-to-r from-transparent via-white/100 to-transparent"></div>
        
        <!-- Contenido centrado -->
        <div class=" relative w-1/2 h-[475px]">
            <div class="space-y-6">
                <h1
                    class="py-5 text-[72px] font-bold text-[#ED1744] text-center mx-auto justify-center"
                >
                    REPUESTOS
                </h1>
                <p
                    class="w-4/5
             text-center mx-auto text-[28px] text-[#6C757D]"
                >
                    Matén tu motocicleta original con nuestros repuestos
                    Yamaha. ¡Contáctanos para brindarte más información!
                </p>
            </div>

            <div class="flex py-14 justify-center items-center">
                <a
                    href="https://api.whatsapp.com/send/?phone=573187077582&text&type=phone_number&app_absent=0"
                    target="_blank"
                    class="text-[16px] my-3 hover:cursor-pointer text-base items-center rounded-3xl py-2 px-4 text-white inline-flex bg-[#ED1744] hover:bg-white border-[1px] hover:border-[#ED1744] hover:text-[#ED1744] duration-500"
                >
                    CONTACTAR ASESOR
                </a>
            </div>
        </div>
    </div>
    
    
    

    <div
        class="text-2xl space-x-9 h-[575px] w-[1355px] mx-auto flex items-center justify-center"
    >
        <div class="">
            <img
                class="h-[468px] w-[516px]"
                src="https://www.yamotos.com.co/assets/img/personaliza-tu-motocicleta.png"
                alt=""
            />
        </div>

        <div class="">
            <h2 class="text-[#212529] font-bold text-[32px]">
                ¡COMO SOLO YAMOTOS LO
            </h2>
            <h2 class="text-[#212529] font-bold text-[32px]">
                SABE HACER!
            </h2>
            <h5 class="text-[#069FEC] text-[21.5px] py-1">
                Damos color a tu vida
            </h5>
            <h6 class="text-[#6C757D] text-[20px]">
                Recuerda que entregamos tu motocicleta como tu la
            </h6>
            <h6 class="text-[#6C757D] text-[20px]">
                desees, aquí podrás encuntrar nuestros geniales
            </h6>
            <h6 class="text-[#6C757D] text-[20px]">diseños</h6>

            <a
                href="https://www.instagram.com/yamotoscali/"
                target="_blank"
                class="text-[16px] my-3 hover:cursor-pointer text-base items-center rounded-3xl py-2 px-4 text-white inline-flex bg-[#ED1744] hover:bg-white border-[1px] hover:border-[#ED1744] hover:text-[#ED1744] duration-500"
            >
                VER PERSONALIZADAS
            </a>
        </div>
    </div>

    <div class="h-[675px] w-[1355px] mx-auto">
        <div class="flex justify-center h-14 text-[40px] font-bold">
            ULTIMAS NOTICIAS
        </div>

        <div class="flex justify-center space-x-9 py-8">
            <div
                class="h-[300px] w-[354px] bg-blue-500 rounded-xl bg-[url('https://www.yamotos.com.co/assets/img/noticia-colores-nm.png')] bg-center bg-[length:100%_100%]"
            >
                <a
                    href="/Motos/Automaticas/Nmax"
                    class="h-[300px] w-[354px] text-transparent flex items-center justify-center font-bold text-2xl rounded-lg hover:bg-[#ED1744] hover:opacity-90 hover:text-white duration-500"
                >
                    Ver mas...
                </a>
                <div class="">
                    <a
                        href="/Motos/Automaticas/Nmax"
                        class="text-[28px] font-bold hover:text-[#ED1744]"
                        >#TheArtOfInnovation</a
                    >
                    <p class="text-[16px] text-[#6C757D]">
                        ¡Ahora la NMAX CONNECTED viene
                    </p>
                    <p class="text-[16px] text-[#6C757D]">
                        con nuevos diceños, colores que
                    </p>
                    <p class="text-[16px] text-[#6C757D]">
                        mueven tu vida!
                    </p>
                </div>
            </div>
            <div
                class="h-[300px] w-[354px] bg-blue-500 rounded-xl bg-[url('https://www.yamotos.com.co/assets/img/noticia-tenere.png')] bg-center bg-[length:100%_100%]"
            >
                <a
                    href="/Motos/Adventure/Tenere"
                    class="h-[300px] w-[354px] text-transparent flex items-center justify-center font-bold text-2xl rounded-lg hover:bg-[#ED1744] hover:opacity-90 hover:text-white duration-500"
                >
                    Ver mas...
                </a>
                <div class="">
                    <a
                        href="/Motos/Adventure/Tenere"
                        class="text-[28px] font-bold hover:text-[#ED1744]"
                        >NEXT HORIZON</a
                    >
                    <p class="text-[16px] text-[#6C757D]">
                        Vive el mundo sin límites,buscando un
                    </p>
                    <p class="text-[16px] text-[#6C757D]">
                        nuevo horizonte en cada viaje.El futuro
                    </p>
                    <p class="text-[16px] text-[#6C757D]">
                        está frente a ti y tú eliges el destino.Con
                    </p>
                    <p class="text-[16px] text-[#6C757D]">
                        la Ténéré 700 podrás llegar donde quieras
                    </p>
                    <p class="text-[16px] text-[#6C757D]">
                        gracias a su confiabilidad, ergonomía,
                    </p>
                    <p class="text-[16px] text-[#6C757D]">
                        diseño y desempeño pensado para caminos
                    </p>
                    <p class="text-[16px] text-[#6C757D]">
                        dentro y fuera del asfalto.
                    </p>
                </div>
            </div>

            <div
                class="h-[300px] w-[354px] bg-blue-500 rounded-xl bg-[url('https://www.yamotos.com.co/assets/img/noticia-uno-r7.png')] bg-center bg-[length:100%_100%]"
            >
                <a
                    href="/Motos/Deportivas/R7"
                    class="h-[300px] w-[354px] text-transparent flex items-center justify-center font-bold text-2xl rounded-lg hover:bg-[#ED1744] hover:opacity-90 hover:text-white duration-500"
                >
                    Ver categorias...
                </a>
                <div class="">
                    <div class="hover:text-[#ED1744]"></div>
                    <a
                        href="/Motos/Deportivas/R7"
                        class="text-center hover:text-[#ED1744] text-[28px] font-bold flex"
                        >WHERE R/WORLD - Meets yours!
                    </a>
                    <p class="text-[16px] text-[#6C757D]">
                        En la YZF-R7 el mundo R se une con el tuyo,
                    </p>
                    <p class="text-[16px] text-[#6C757D]">
                        con una motocicleta capaz de transmitir
                    </p>
                    <p class="text-[16px] text-[#6C757D]">
                        esas sensaciones a tu cuerpo, mientras
                    </p>
                    <p class="text-[16px] text-[#6C757D]">
                        dominas las actividades de tu día a día,
                    </p>
                    <p class="text-[16px] text-[#6C757D]">
                        transitas por carreteras sinuosas y afianzas
                    </p>
                    <p class="text-[16px] text-[#6C757D]">
                        los lazos creados con tus amigos de ruta.
                    </p>
                </div>
            </div>
        </div>
    </div>

</Layout>
