---
const { flecha = false } = Astro.props;
const { isHeigth = false } = Astro.props;
---

<div class="relative">
</div>


<div class="relative w-auto h-[530px] "
class:list={{ "h-[730px] " : isHeigth}}
>  
    <slot name="imagen" class="" />

    <div class="absolute inset-0 flex items-center justify-center my-auto mx-auto font-bold text-white text-[72px]"
        class:list={{ "hidden" : isHeigth}}>
        <slot name="titulo" />
    </div>
</div>

<div
    class=" bg-transparent  h-[56px] flex justify-center items-center"
    class:list={{"hidden" : flecha}};
>
    <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-[45px] text-red-600 bg-white rounded-full"
    >
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m9 12.75 3 3m0 0 3-3m-3 3v-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
        ></path>
    </svg>
</div>
