---
import { Icon } from "astro-icon/components";
---

<div class="h-[500px] justify-center p-2 mt-11">
    <div class="flex">
        <div class="mx-auto text-[40px] text-[#212529] font-bold">
            <h2 class="mx-auto">NECESITAS AYUDA?</h2>
        </div>
    </div>

    <div class="flex">
        <div class="mx-auto w-auto text-[16px] italic text-[#6C757D]">
            <h6>
                Recuerda que puedes contactar con nosotros mediante los
                siguientes canales de atencion
            </h6>
        </div>
    </div>

    <!-- <div class="flex justify-center space-x-12">
        <div class="h-[280PX] w-[320PX] bg-slate-400">
            <div class="rounded-full flex justify-center items-center bg-blue-400 h-[70px] w-[70px]">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="size-12"
                    viewBox="0 0 512 512"
                    ><path
                        fill="currentColor"
                        d="m449.366 89.648l-.685-.428l-86.593-42.661l-93.463 124.617l43 57.337a88.53 88.53 0 0 1-83.115 83.114l-57.336-43l-124.616 93.461l42.306 85.869l.356.725l.429.684a25.09 25.09 0 0 0 21.393 11.857h22.344a327.836 327.836 0 0 0 327.836-327.837v-22.345a25.08 25.08 0 0 0-11.856-21.393m-20.144 43.738c0 163.125-132.712 295.837-295.836 295.837h-18.08L87 371.76l84.18-63.135l46.867 35.149h5.333a120.535 120.535 0 0 0 120.4-120.4v-5.333l-35.149-46.866L371.759 87l57.463 28.311Z"
                    ></path></svg
                >
            </div>
            <div class="text-center mt-[100px]">
                <h1 class="font-bold text-[20px] text-[#212529]">
                    Llamandonos
                </h1>
                <p class="font-bold text-[22px] text-[#069FEC]">
                    4864138 - 4864134
                </p>
                <p class="text-[13px] text-[#6c757d]">LU-VI 8:00am - 6:00pm</p>
                <p class="text-[13px] text-[#6c757d]">SA 08:00am - 05:00pm</p>
            </div>
        </div>

        <div class="bg-blue-300 h-[280PX] w-[320PX]">
            <div class="h-[200px] w-[320px] bg-slate-400"></div>
            SFFFDF
        </div>

        <div class="bg-amber-400 h-[280PX] w-[320PX]">
            <div class="h-[200px] w-[320px] bg-slate-400"></div>
            FSDF
        </div>
    </div> -->

    <div class="bg-white p-6 mx-auto flex flex-col items-center">
        <div class="p-6 grid grid-cols-1 md:grid-cols-3 gap-36 text-center">
            <div class="flex flex-col items-center">
                <div
                    class="bg-blue-500 h-[93px] w-[93px] flex items-center justify-center rounded-full"
                >
                    <Icon name="fa-solid:phone" class="size-14 text-white" />
                </div>

                <div class="text-center mt-4">
                    <h1 class="font-bold text-[20px] text-[#212529]">
                        Llamandonos
                    </h1>
                    <a href="tel:0324864138">
                        <p
                            class="font-bold text-[22px] text-[#069FEC] hover:text-[#08557c]"
                        >
                            4864138 - 4864134
                        </p>
                    </a>
                    <p class="text-[13px] text-[#6c757d]">
                        LU-VI 8:00am - 6:00pm
                    </p>
                    <p class="text-[13px] text-[#6c757d]">
                        SA 08:00am - 05:00pm
                    </p>
                </div>
            </div>

            <div class="flex flex-col items-center">
                <div
                    class="bg-blue-500 h-[93px] w-[93px] flex items-center justify-center rounded-full"
                >
                    <!-- <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="size-20"
                            viewBox="0 0 24 24"
                            ><path
                                fill="white"
                                d="M21.03 6.29L12 .64L2.97 6.29C2.39 6.64 2 7.27 2 8v10c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-.73-.39-1.36-.97-1.71M20 18H4v-8l8 5l8-5zm-8-5L4 8l8-5l8 5z"
                            ></path></svg
                        > -->
                    <Icon
                        name="lets-icons:message-open-fill"
                        class="size-14 text-white"
                    />
                </div>

                <div class="text-center mt-4">
                    <h1 class="font-bold text-[20px] text-[#212529]">
                        Correo Electronico
                    </h1>
                    <a href="#Formulario">
                        <p
                            class="font-bold text-[22px] text-[#069FEC] hover:text-[#08557c]"
                        >
                            Contactanos!
                        </p>
                    </a>
                    <p class="text-[13px] text-[#6c757d]">
                        Dejanos tu comentario
                    </p>
                </div>
            </div>

            <div class="flex flex-col items-center">
                <div
                    class="bg-blue-500 h-[93px] w-[93px] flex items-center justify-center rounded-full"
                >
                    <!-- <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="size-20"
                        viewBox="0 0 24 24"
                        ><path
                            fill="white"
                            d="m7.254 18.494l.724.423A7.95 7.95 0 0 0 12.001 20a8 8 0 1 0-8-8a7.95 7.95 0 0 0 1.084 4.024l.422.724l-.653 2.401zM2.005 22l1.352-4.968A9.95 9.95 0 0 1 2.001 12c0-5.523 4.477-10 10-10s10 4.477 10 10s-4.477 10-10 10a9.95 9.95 0 0 1-5.03-1.355zM8.392 7.308q.202-.014.403-.004q.081.006.162.016c.159.018.334.115.393.249q.447 1.015.868 2.04c.062.152.025.347-.093.537c-.06.097-.154.233-.263.372c-.113.145-.356.411-.356.411s-.099.118-.061.265c.014.056.06.137.102.205l.059.095c.256.427.6.86 1.02 1.268c.12.116.237.235.363.346c.468.413.998.75 1.57 1l.005.002c.085.037.128.057.252.11q.093.039.191.066q.036.01.073.011a.35.35 0 0 0 .295-.142c.723-.876.79-.933.795-.933v.002a.48.48 0 0 1 .378-.127q.092.004.177.04c.531.243 1.4.622 1.4.622l.582.261c.098.047.187.158.19.265c.004.067.01.175-.013.373c-.032.259-.11.57-.188.733a1.2 1.2 0 0 1-.21.302a2.4 2.4 0 0 1-.33.288q-.124.092-.125.09a5 5 0 0 1-.383.22a2 2 0 0 1-.833.23c-.185.01-.37.024-.556.014c-.008 0-.568-.087-.568-.087a9.45 9.45 0 0 1-3.84-2.046c-.226-.199-.436-.413-.65-.626c-.888-.885-1.561-1.84-1.97-2.742a3.5 3.5 0 0 1-.33-1.413a2.73 2.73 0 0 1 .565-1.68c.073-.094.142-.192.261-.305c.126-.12.207-.184.294-.228a1 1 0 0 1 .371-.1"
                        ></path></svg
                    > -->
                    <Icon name="mdi:whatsapp" class="size-14 text-white" />
                </div>
                <div class="text-center mt-4">
                    <h1 class="font-bold text-[20px] text-[#212529]">
                        WhatsApp
                    </h1>
                    <a
                        href="https://api.whatsapp.com/send/?phone=573005596848&text&type=phone_number&app_absent=0"
                        target="_blank"
                    >
                        <p
                            class="font-bold text-[22px] text-[#069FEC] hover:text-[#08557c]"
                        >
                            Escribenos
                        </p>
                    </a>
                    <p class="text-[13px] text-[#6c757d]">
                        LU-VI 8:00am - 6:00pm
                    </p>
                    <p class="text-[13px] text-[#6c757d]">
                        SA 08:00am - 05:00pm
                    </p>
                </div>
            </div>

            <!-- <div class="flex flex-col items-center">
                
                 <a href="">

                     <div class="bg-blue-500 p-4 rounded-full">
                         <img src="https://img.icons8.com/ios-filled/50/ffffff/email.png" alt="Icono de correo" class="w-10 h-10">
                     </div>
                 </a>
                <div class="text-center mt-4">
                    <h1 class="font-bold text-[20px] text-[#212529]">
                        Correo Electronico
                    </h1>
                    <a href="">
                        <p class="font-bold text-[22px] text-[#069FEC] hover:text-[#08557c]">
                            Contactanos!
                        </p>

                    </a>
                    <p class="text-[13px] text-[#6c757d]">Dejanos tu comentario</p>
                </div>
            </div>

            <div class="flex flex-col items-center">
                <div class="bg-blue-500 p-4 rounded-full">
                    <img src="https://img.icons8.com/ios-filled/50/ffffff/whatsapp.png" alt="Icono de WhatsApp" class="w-10 h-10">
                </div>
                <div class="text-center mt-4">
                    <h1 class="font-bold text-[20px] text-[#212529]">
                        WhatsApp
                    </h1>
                    <a href="">

                        <p class="font-bold text-[22px] text-[#069FEC] hover:text-[#08557c]">
                            Escribenos
                        </p>
                    </a>
                    <p class="text-[13px] text-[#6c757d]">LU-VI 8:00am - 6:00pm</p>
                    <p class="text-[13px] text-[#6c757d]">SA 08:00am - 05:00pm</p>
                </div>
            </div> -->
        </div>
    </div>
</div>
