---

---

<div class="h-[300px] w-[320px]  relative rounded-2xl ">

    
    <slot name="imagen"></slot>
    
    <div class=" bg-transparent text-transparent cursor-pointer h-[270px] w-[310px] rounded-xl flex items-center justify-center hover:bg-[#ed1744] hover:opacity-90 hover:text-white duration-500">            
        <slot name="link"></slot>
    </div>

    <div class=" flex items-center text-[24px] justify-center font-bold hover:text-[#ed1744] w-2/3 text-center mx-auto duration-300 z-20" >
        <slot name="categoria"></slot>
    </div>

</div>
