---
import { Icon } from "astro-icon/components";
---




<div class="h-[210px]  flex  items-center space-x-0 bg-black justify-center">
    
    <div class="h-52 flex items-center justify-center space-x-1 ">
        <h1 class="text-white text-[15px]">© Todos los derechos reservados</h1>
        <a href="/" class="text-white font-bold hover:text-[#ED1744]">
           | Yamotos S.A.S</a
        >
    </div>

    <div class="h-52 flex items-center   px-9 w-[420px] mx-auto">
        <div class="space-y-5">
            <a 
                href="https://www.google.com/maps/place/YAMAHA+-+YAMOTOS/@3.4465672,-76.4924244,17z/data=!3m1!4b1!4m5!3m4!1s0x8e30a7a63cd41cff:0xae9b9a9bc610e0d5!8m2!3d3.4465618!4d-76.4902357?hl=es"  target="_blank"
                class="flex items-center gap-2 ">
                <div
                    class="rounded-full bg-[#f8f9fa] hover:bg-gray-200 size-[40px] flex items-center justify-center transition-transform duration-300 hover:-translate-y-2 shadow-lg"
                >
                    <Icon name="grommet-icons:location-pin" class="w-[20px] h-[20px]  text-gray-800"/>
                </div>
                <h1 class="text-white text-[14px] hover:text-[#ED1744]">Calle 70 # 12 Bis - 06</h1>
            </a>

            <a 
                href="tel:0324864138"  
                class="flex items-center gap-2 ">
                <div
                    class="rounded-full bg-[#f8f9fa] hover:bg-gray-200  size-[40px] flex items-center justify-center transition-transform duration-300 hover:-translate-y-2 shadow-lg"
                >
                    <Icon name="fa-solid:phone" class="w-[20px] h-[20px] text-gray-800"/>
                    
                </div>
                <h1 class="text-white text-[14px] hover:text-[#ED1744]">4864138 - 4864134</h1>
            </a>

            <a 
                href="/Catalogos"  
                class="flex items-center gap-2">
                <div
                    class="rounded-full bg-[#f8f9fa] hover:bg-gray-200  size-[40px] flex items-center justify-center transition-transform duration-300 hover:-translate-y-2 shadow-lg"
                >
                    <Icon name="fa-solid:book" class="w-[20px] h-[20px]  text-gray-800" />
                </div>
                <h1 class="text-white text-[14px] hover:text-[#ED1744]">Catalogo de Despiece</h1>
            </a>
        </div>
    </div>

    <div class="h-52 flex  items-center   w-[350px] ">
        <div class="space-y-5">
            <a
                href="https://www.instagram.com/yamotoscali/" target="_blank"
                class="flex items-center gap-2 ">
                <div
                    class="rounded-full bg-[#f8f9fa] hover:bg-gray-200  size-[40px] flex items-center justify-center transition-transform duration-300 hover:-translate-y-2 shadow-lg"
                >
                    <Icon name="lucide:instagram"class="w-[20px] h-[20px]  text-gray-800"/>
                </div>
                <h1 class="text-white text-[14px] hover:text-[#ED1744]">Siguenos en Instagram</h1>
            </a>

            <a 
                href="https://www.facebook.com/yamotossa.cali" target="_blank"
                class="flex items-center gap-2 ">
                <div
                    class="rounded-full bg-[#f8f9fa] hover:bg-gray-200  size-[40px] flex items-center justify-center transition-transform duration-300 hover:-translate-y-2 shadow-lg hover:border-[2px] border-gray-600"
                >
                    <Icon name="ri:facebook-fill"  class="w-[20px] h-[20px] text-gray-800 "/>
                    
                </div>
                <h1 class="text-white text-[14px] hover:text-[#ED1744]">Siguenos en Facebook</h1>
            </a>

            <a 
                href="https://www.youtube.com/channel/UCaIyGFk2dgcQILpicDk3vsw" target="_blank"
                class="flex items-center gap-2">
                <div
                    class="rounded-full bg-[#f8f9fa] hover:bg-gray-200  size-[40px] flex items-center justify-center transition-transform duration-300 hover:-translate-y-2 shadow-lg"
                >
                    <Icon name="ri:youtube-fill" class="w-[20px] h-[20px]  text-gray-800" />
                </div>
                <h1 class="text-white text-[14px] hover:text-[#ED1744]">Siguenos en YouTube</h1>
            </a>
        </div>
    </div>
</div>