---

---
<div id="#Formulario" class=" h-[615px] w-auto  ">
    <div class="h-[815px]  w-auto bg-[url('https://images.freeimages.com/vhq/images/previews/8ae/free-dotted-world-map-vector-395153.png')] bg-center bg-[length:100%_100%] ">
        <div class="flex">
            <h1 class="mx-auto text-white text-[40px] font-bold p-5 ">QUIERES SER CONTACTADO?</h1>
        </div>
        <div class="flex">
            <h1 class="mx-auto text-white text-[16px]">Llena el siguiente formulario y en breve un asesor se comunicara contigo.</h1>
        </div>


        <div class=" flex-col flex items-center justify-center mt-9 ">
            <div class="">
                <div class="space-x-5 space-y-4">
                    <input class="p-5 text-[20px] rounded-md w-[570px] font-bold placeholder:text-gray-300  " type="text" placeholder="Ingrese su nombre*">
                    <input class="p-5 text-[20px] rounded-md w-[570px] font-bold placeholder:text-gray-300  " type="text" placeholder="Ciudad*">
                </div>
            </div>
    
            <div class="">
                <div class="space-x-5 space-y-4">
                    <input class="p-5 text-[20px] rounded-md w-[570px] font-bold placeholder:text-gray-300  " type="email" placeholder="Correo Electronico*">
                    <input class="p-5 text-[20px] rounded-md w-[570px] font-bold placeholder:text-gray-300  " type="text" placeholder="Motocicleta de Interes*">
                </div>
            </div>
    
            <div class="">
                <div class="space-x-5 space-y-4 ">
                    <input class="p-5  text-[20px] rounded-md w-[570px] font-bold placeholder:text-gray-300  " type="text" placeholder="Numero de Contacto*">
                    <input class="p-5 text-[20px] rounded-md w-[570px] font-bold  placeholder:text-gray-300 " type="text" placeholder="Mensaje*">
                </div>
            </div>

            <div class=" flex w-[450px] mt-16 ">
                <div class="space-y-10 mx-auto">
                    <a
                    href="#"
                    class="mx-auto space-y-6 text-[18px] items-center rounded-[5px] py-5 px-7 font-bold text-white inline-flex bg-[#ED1744] hover:bg-white hover:border-[1px] hover:border-[#ED1744] hover:text-[#ED1744] duration-500"
                >
                    ENVIAR MESAJE
                </a>
                </div>
            </div>
        </div>
    </div>
</div>
