---
const { title } = Astro.props;
const currentPath = Astro.url.pathname; // Ruta actual
---

<div
	class="h-[116px] flex items-center justify-center bg-white sticky top-0 z-50 border-b border-gray-300"
>
	<div>
		<a href="/">
			<img
				class="size-20"
				src="https://www.yamotos.com.co/assets/img/logo-yamotos.png"
				alt=""
			/>
		</a>
	</div>
	<div class="">
		<ul class="flex">
			<li
				class="mx-3 hover:text-[#ED1744] text-[15px]"
			>
				<a href="/Motocicletas"
				class={`hover:text-[#ED1744] ${
					currentPath === "/Header/Motocicletas"
						? "text-[#ED1744]"
						: "text-[#000000]"
				}`}>MOTOCICLETAS</a>
			</li>
			<li>
				<p
					class="w-3/5 text-center mx-auto hover:text-[#ED1744] text-[15px]"
				>
					<a href="/Header/Personalizacion"
					class={`hover:text-[#ED1744] ${
						currentPath === "/Header/Personalizacion"
							? "text-[#ED1744]"
							: "text-[#000000]"
					}`}>PERSONALIZACION DE MOTO</a
					>
				</p>
			</li>
			<li class="mx-3 hover:text-[#ED1744] text-[15px]">
				<a href="/Header/Bicicletas"
				class={`hover:text-[#ED1744] ${
					currentPath === "/Header/Bicicletas"
						? "text-[#ED1744]"
						: "text-[#000000]"
				}`}>BICICLETAS</a>
			</li>
			<li class="mx-3 hover:text-[#ED1744] text-[15px]">
				<a href="/Header/Boutique"
				class={`hover:text-[#ED1744] ${
					currentPath === "/Header/Boutique"
						? "text-[#ED1744]"
						: "text-[#000000]"
				}`}>BOUTIQUE</a>
			</li>
			<li class="mx-3 hover:text-[#ED1744] text-[15px]">
				<a href="/Header/Llantas"
				class={`hover:text-[#ED1744] ${
					currentPath === "/Header/Llantas"
						? "text-[#ED1744]"
						: "text-[#000000]"
				}`}>LLANTAS</a>
			</li>
			<li class="mx-3 hover:text-[#ED1744] text-[15px]">
				<a href="/Header/Servicios"
				class={`hover:text-[#ED1744] ${
					currentPath === "/Header/Servicios"
						? "text-[#ED1744]"
						: "text-[#000000]"
				}`}>SERVICIOS</a>
			</li>
			<li class="mx-3 hover:text-[#ED1744] text-[15px]">
				<a href="/Header/Contacto"
				class={`hover:text-[#ED1744] ${
					currentPath === "/Header/Contacto"
						? "text-[#ED1744]"
						: "text-[#000000]"
				}`}>CONTACTO</a>
			</li>
			<li>
				<p
					class="w-3/5 text-center mx-auto hover:text-[#ED1744] text-[15px]"
				>
					<a
						href="/Header/Nosotros"
						class={`hover:text-[#ED1744] ${
							currentPath === "/Header/Nosotros"
								? "text-[#ED1744]"
								: "text-[#000000]"
						}`}
						>SOBRE NOSOTROS</a
					>
				</p>
			</li>
			<li>
				<p
					class="w-[60px] text-center  mx-auto hover:text-[#ED1744] text-[15px] "
				>
					<a
						href="https://www.avalpaycenter.com/wps/portal/portal-de-pagos/web/pagos-aval"

						target="_blank">PAGOS EN LINEA</a
					>
				</p>
			</li>
		</ul>
	</div>
</div>




