---
import Header from "../components/header.astro";
import Scroll from "../components/scroll.astro";
import Whatsap from "../components/whatsap.astro";
import Final from "../components/final.astro";
import Formulario from "../components/formulario.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title ? `${title} | Yamotos` : 'Yamotos'}</title>
	</head>
	<body>
		<Header></Header>
		<Whatsap></Whatsap>
		<Scroll></Scroll>
		<slot />
		<Formulario></Formulario>
		<Final></Final>

	</body>
</html>

